
/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
    padding: 24px 20px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
}

.features .feature-box h6 {
    font-size: 1.2rem;
    color: #012970;
    font-weight: 500;
    margin: 0;
}

.features .feature-box i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 1rem;
    border-radius: 3px;
    transition: 0.3s;
}

.features .feature-box:hover i {
    background: #4154f1;
    color: #fff;
}

.features .feature-tabs {
    margin-top: 120px;
}

.features .feature-tabs h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .features .feature-tabs h3 {
        font-size: 28px;
    }
}

.features .feature-tabs .nav-pills {
    border-bottom: 1px solid #eee;
}

.features .feature-tabs .nav-link {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #012970;
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
}

.features .feature-tabs .nav-link.active {
    color: #4154f1;
    border-bottom: 3px solid #4154f1;
}

.features .feature-tabs .tab-content h6 {
    font-size: 1rem;
    margin: 0;
    font-weight: 650;
    color: #012970;
}

.features .feature-tabs .tab-content i {
    font-size: 1rem;
    line-height: 0;
    margin-right: 8px;
    color: #4154f1;
    transform: translateY(2px);
}

.features .feature-icons {
    margin-top: 120px;
}

.features .feature-icons h3 {
    color: #012970;
    font-weight: 650;
    font-size: 1.25rem;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .features .feature-icons h3 {
        font-size: 28px;
    }
}

.features .feature-icons .content .icon-box {
    display: flex;
}

.features .feature-icons .content .icon-box h4 {
    font-size: 1rem;
    font-weight: 650;
    margin: 0 0 10px 0;
    color: #012970;
}

.features .feature-icons .content .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
    font-size: 15px;
    color: #848484;
}
